#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img {
    width: 100%;
    text-align: center;
}

.a {
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);

}

.b {
    font-family: cursive;
    font-size: large;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

#c {
    display: flex;
    justify-content: space-around;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 4%, rgba(133, 150, 37, 0) 61%, rgba(0, 212, 255, 1) 97%);
    padding-top: 10px;
    padding-bottom: 10px;

}

.d {
    width: 450px;
    border-radius: 20%;
}

#d {
    text-align: center;
    padding-top: 100px;
}

#e {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 30px;
}

.e {
    width: 250px;
}

#f {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.f {
    width: 250px;

}

.g {
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
}