.c2,
h1 {
    text-align: center;
    margin-top: 25px;
}

.c1 {
    text-align: center;
    margin-top: 30px;

}

body {
    background: linear-gradient(109.6deg, rgb(255, 251, 213) 11.2%, rgb(178, 10, 44) 91.2%);
}